.detail {
  background-color: #fff;
  border-radius: 20px;
  padding: 2rem;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.detail h2 {
  font-size: 3rem;
  text-transform: capitalize;
  text-align: center;
}
.phone {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.con-icon {

  width: 5rem;
  height: 5rem;
  margin-right: 3rem;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;


}
.con-icon,
.iconbox {
  margin-bottom:1rem ;
  font-size: 1.6rem;
  text-transform: capitalize;
  color: var(--color-primary-100);

  display: flex;
  justify-content: center;
  align-items: center;
}
.con-icon,
.icon{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}
.icon {
  width: 100%;
  display: flex;
  padding: 2rem;
  margin-top: 2rem;
  justify-content: space-between;
  background-color: var(--color-gray-100);

  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
