.form {
  width: 70%;
  padding: 6rem;
  background-color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.form label {
  font-size: 1.6rem;
  text-transform: capitalize;
}

.form input {
  width: 100%;
  padding: 1.2rem 2rem;
  border: 1px solid var(--color-gray-200);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.form input:focus {
  outline: none;
  background-color: var(--color-primary-700);
}
.formbox {
  flex: 3;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formbox h2 {
  font-size: 2rem;
  text-transform: capitalize;
}

@media screen and (max-width: 1200px) {
  .form {
    width: 80%;

    padding: 2rem;
  }
}
@media screen and (max-width: 992px) {
  .form {
    width: 100%;
  }
  .formbox {
    padding: 6rem;
  }
}
@media screen and (max-width: 720px) {
  .formbox {
    padding: 1.3rem;
  }
}

@media screen and (max-width: 500px) {
  .form {
    width: 100%;
  }
  .formbox {
    padding: 1rem;
  }
}
